* {
  /* margin: 0; */
  /* padding: 0; */
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-task {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

h1 {
  margin-bottom: 1rem;
}

#input-new-task,
#input-edit-task,
#btn-new-task {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.125rem solid #8bc7ad;
}

#input-new-task {
}

#btn-new-task {
  cursor: pointer;
}

.content-list {
}

#to-do-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#to-do-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

#to-do-list li span {
  margin-left: 0.5rem;
  /* text-transform: capitalize; */
}

.btn-edit-task {
  margin-left: auto;
  cursor: pointer;
  color: #2196F3
}

.btn-edit-task:hover {
  color: #1976D2
}

.btn-delete-task {
  margin-left: 1rem;
  cursor: pointer;
  color: #F44336
}

.btn-delete-task:hover {
  color: #D32F2F
}

.completed {
  text-decoration: line-through;
}

.edit-task {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-end;
  gap: 0.5rem;
}

dialog {
  border: none;
  border-radius: 0.5rem;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3)
}
